<a href="https://colab.research.google.com/github/Sabry-Ahmed/CODE_Regression_lineaire_simple/blob/main/Logistics_Regression_for_Titanic__data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#importer vos librairies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model #modèle linéaire
from sklearn.metrics import mean_squared_error, r2_score #métriques d'évaluation

In [4]:
gender_submission = pd.read_csv("/content/gender_submission.csv", sep=";")
test = pd.read_csv("/content/test.csv", sep=";")
train = pd.read_csv("/content/train.csv", sep=";")



print("Data loaded.")

Data loaded.

In [6]:
train

    PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0    1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...
1    2,1,1,"Cumings, Mrs. John Bradley (Florence Br...
2    3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,S...
3    4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May ...
4    5,0,3,"Allen, Mr. William Henry",male,35,0,0,3...
..                                                 ...
886  887,0,2,"Montvila, Rev. Juozas",male,27,0,0,21...
887  888,1,1,"Graham, Miss. Margaret Edith",female,...
888  889,0,3,"Johnston, Miss. Catherine Helen ""Car...
889  890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,11...
890  891,0,3,"Dooley, Mr. Patrick",male,32,0,0,3703...

[891 rows x 1 columns]

In [10]:
print(len(train), len(test))

891 418